# 2026 The Best Ski Trip Prediction

In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

## Data Parsing and Cleaning

In [ ]:
# Read the excel data
data_fp = list(Path().rglob('../data/2025*.xlsx'))[0]
excel_sheets = pd.read_excel(data_fp, sheet_name=None)
# Unpack the excel sheets
info_data, visitation_data, climate_data = [v for _, v in excel_sheets.items()]

In [44]:
location_id = info_data.iloc[21:26,1].copy()
location_id = pd.DataFrame(location_id.str.split(" - ").to_list(), columns=["station_id", "location"])
location_id

  station_id              location
0      71032           Thredbo AWS
1      71075          Perisher AWS
2      72161  Cabramurra SMHEA AWS
3      83024          Mount Buller
4      83084           Falls Creek

In [43]:
ski_season_dates = (info_data.iloc[35:, 1:].copy()
                    .rename(columns={"Unnamed: 1": "week", "Unnamed: 2": "dates"})
                    .reset_index(drop=True))
ski_season_dates.loc[:,"dates"] = ski_season_dates.loc[:,"dates"].dt.strftime("%d-%b")
ski_season_dates

/var/folders/_t/r5trfwf935jfhb767r0mq93m0000gn/T/ipykernel_28256/672496871.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['09-Jun' '16-Jun' '23-Jun' '30-Jun' '07-Jul' '14-Jul' '21-Jul' '28-Jul'
 '04-Aug' '11-Aug' '18-Aug' '25-Aug' '01-Sep' '08-Sep' '15-Sep']' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  ski_season_dates.loc[:,"dates"] = ski_season_dates.loc[:,"dates"].dt.strftime("%d-%b")

       week   dates
0    Week 1  09-Jun
1    Week 2  16-Jun
2    Week 3  23-Jun
3    Week 4  30-Jun
4    Week 5  07-Jul
5    Week 6  14-Jul
6    Week 7  21-Jul
7    Week 8  28-Jul
8    Week 9  04-Aug
9   Week 10  11-Aug
10  Week 11  18-Aug
11  Week 12  25-Aug
12  Week 13  01-Sep
13  Week 14  08-Sep
14  Week 15  15-Sep