# Data Parsing

In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

In [7]:
data_fp = list(Path().rglob('../data/2025*.xlsx'))[0]
data_fp

PosixPath('../data/2025 Allianz Datathon Dataset.xlsx')

In [11]:
excel_sheets = pd.read_excel(data_fp, sheet_name=None)

In [15]:
info_data, visitation_data, climate_data = [v for _, v in excel_sheets.items()]

In [26]:
info_data.iloc[21:26,1]

21             71032 - Thredbo AWS
22            71075 - Perisher AWS
23    72161 - Cabramurra SMHEA AWS
24            83024 - Mount Buller
25             83084 - Falls Creek
Name: Unnamed: 1, dtype: object

In [ ]:
ski_season_dates = info_data.iloc[35:, 1:]

   Unnamed: 1 Unnamed: 2
35     Week 1 2024-06-09
36     Week 2 2024-06-16
37     Week 3 2024-06-23
38     Week 4 2024-06-30
39     Week 5 2024-07-07
40     Week 6 2024-07-14
41     Week 7 2024-07-21
42     Week 8 2024-07-28
43     Week 9 2024-08-04
44    Week 10 2024-08-11
45    Week 11 2024-08-18
46    Week 12 2024-08-25
47    Week 13 2024-09-01
48    Week 14 2024-09-08
49    Week 15 2024-09-15